$main-primary: ( 50 : #f0f6ed, 100 : #d9e7d2, 200 : #bfd8b4, 300 : #a5c896, 400 : #92bc80, 500 : #7fb069, 600 : #77a961, 700 : #6ca056, 800 : #62974c, 900 : #4f873b, A100 : #e2ffd8, A200 : #bcffa5, A400 : #96ff72, A700 : #83ff58, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #000000, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, ));
$main-accent: ( 50 : #faf7eb, 100 : #f2eccc, 200 : #e9dfaa, 300 : #e0d288, 400 : #d9c96f, 500 : #d2bf55, 600 : #cdb94e, 700 : #c7b144, 800 : #c1a93b, 900 : #b69b2a, A100 : #fffdf6, A200 : #fff3c3, A400 : #ffe990, A700 : #ffe477, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #000000, 800 : #000000, 900 : #000000, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, ));
$main-warn: ( 50 : #f4e6e5, 100 : #e3c0bf, 200 : #d19694, 300 : #be6b69, 400 : #b04c49, 500 : #a22c29, 600 : #9a2724, 700 : #90211f, 800 : #861b19, 900 : #75100f, A100 : #ffa9a8, A200 : #ff7775, A400 : #ff4442, A700 : #ff2b29, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #ffffff, A700 : #ffffff, ) );


$palette-primary: mat-palette($main-primary);
$palette-accent: mat-palette($main-accent);
$palette-warn: mat-palette($main-warn);

$primary: #7fb069;
$accent: #d2bf55;
$warn: #a22c29;

