<div class="container">
  <div class="lot-details-section">
    <div class="lot-details-container">
      <mat-card class="painting-card">
        <mat-card-header>
          <mat-card-title> {{lot.painting.title}}</mat-card-title>
        </mat-card-header>
        <div class="image-container">
          <img class="image-card" src="{{lot.painting.imageUrl}}" alt="Painting image unavailable.">
        </div>
        <mat-card-content>
          <div class="details-container">
            <h4>Author: {{lot.painting.author}}</h4>
            <div class="text-container ">
              {{lot.painting.description}}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="bids-section">
    <div class="bids-container">
      <div class="bids-header">
        <h3>Latest 3 bids:</h3>
      </div>
      <div class="bid-list-container">
        <div class="table-container mat-elevation-z8">
          <div class="table-inner-container">
            <table mat-table matSort #table [dataSource]="dataSource" [class.isMobile]="isMobile">

              <!--Bidder Column -->
              <ng-container matColumnDef="bidder">
                <th mat-header-cell *matHeaderCellDef>Bidder</th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Bidder:</span>
                  {{element.bidder.name}}
                </td>
              </ng-container>

              <!-- Value Column -->
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Value:</span>
                  {{element.value}}
                </td>
              </ng-container>

              <!-- Date Time Column -->
              <ng-container matColumnDef="dateTime">
                <th mat-header-cell *matHeaderCellDef>Made at</th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Made at:</span>
                  {{element.dateTime | date:'medium'}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

              <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
          </div>
        </div>
      </div>
      <div class="make-bid-container">
        <div class="form-container">
          <form [formGroup]="betGroup" (ngSubmit)="onSubmit()">

            <div class="form-section-header">
              <b>Make new bet</b>
            </div>
            <div class="form-row">
              <mat-form-field style="flex: 1">
                <input matInput class="bet-input" type="text" placeholder="Bet value" formControlName="betControl">
                <mat-error class="bet-input-error" *ngIf="betGroup.get('betControl')?.hasError('required')">Value required</mat-error>
              </mat-form-field>
            </div>

            <div class="submit-button">
              <button type="submit" class="submit-button" mat-raised-button color="primary" [disabled]="betGroup.invalid">Place</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
