.container{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.painting-card{
  width:50%;
}

.image-container {
  background: grey;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  margin-bottom: 16px;
}

@media screen and (max-width:1024px) {
  .painting-card {
    width: 75%;
  }
}

@media screen and (max-width:640px) {
  .painting-card {
    width: 90%;
  }
}
